<div ng-controller="InCtrl" class="container-fluid">

  <button ng-click="handleState(activeMenu)">STATE</button>
  <div class="row">
    <div class="col-md-2">id <a href="" ng-class="orderDirection && orderField=='id' ? 'glyphicon glyphicon-arrow-down' : 'glyphicon glyphicon-arrow-up'" ng-click="changeOrder('id')"></a></div>
    <div class="col-md-3">date <a href="" ng-class="orderDirection && orderField=='date' ? 'glyphicon glyphicon-arrow-down' : 'glyphicon glyphicon-arrow-up'" ng-click="changeOrder('date')"></a></div>
    <div class="col-md-3">amount <a href="" ng-class="orderDirection && orderField=='amount' ? 'glyphicon glyphicon-arrow-down' : 'glyphicon glyphicon-arrow-up'" ng-click="changeOrder('amount')"></a></div>
    <div class="col-md-4"></div>
  </div>
    <one-page></one-page>

    <uib-pagination total-items="totalItems()" ng-model="currentPage" max-size="pagesNum()" class="pagination-sm" boundary-links="true"></uib-pagination>

</div>
