<form ng-show="!loggedin">
  <div ng-controller="LoginCtrl" class="jumbotron container">
    <h1>{{title}}</h1>

  <p ng-show="showerror"  class="text-danger bg-danger">ERROR</p>

  <label for="username">Username: </label>
  <input type="text" class="form-control" ng-model="username"/>
  
  <label for="password">Password: </label>
  <input type="password" class="form-control" ng-model="password"/>
  
  <button class="btn btn-default" class="form-control" ng-click="login()">LOGIN</button>
  
</div>
</form>
