<div ng-controller="LoginCtrl"  class="modal fade" role="dialog" id="loginModal">
<div class="modal-dialog">
<h3 class="modal-title">{{title}}</h3>
<button type="button" class="close" data-dismiss="modal">&times;</button>
<div class="modal-body">
<form ng-show="!loggedin">
  <p ng-show="showerror" class="bg-danger">ERROR</p>

  <label for="username">Username: </label>
  <input type="text" class="form-control" ng-model="username"/>
  
  <label for="password">Password: </label>
  <input type="password" class="form-control" ng-model="password"/>
  
  <button type="button" class="btn btn-default" class="form-control" ng-submit="login()" data-dismiss="modal">LOGIN</button>
  
</form>
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div>
</div>